button {
  background: lightgrey;
  border: solid 1px black;
}

body {
  background-color: lightblue;
}

#dog-ul {
  font-size: 140px;
  font-family: 'Freckle Face', cursive;
}

#cat-ul {
  font-size: 140px;
  font-family: 'Frijole', cursive;
}
